<div class='config-option-cards'>

{{- range $key, $info := .Site.Data.client_config -}}

{{- $extras := ( index $.Site.Data.client_config_extras $key ) -}}

<div class="card">
  <header class="card-header">
    <p class="card-header-title is-marginless">
      {{- $key -}}
    </p>
    <span class="tag is-dark">
      {{- $info.format -}}
    </span>
    <span class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-chevron-down" aria-hidden="true"></i>
      </span>
    </span>
  </header>

  <div class="card-content">
    <div class="content">
      <p>
        {{- $info.doc | markdownify -}}
      </p>

      {{- with $extras.example -}}
      {{- $pre := ( findRE "\n" . 1 ) -}}
      <p>
        <strong>Example</strong>:
        {{- if $pre }} <pre>{{ . }}</pre>{{- else }} <code>{{ . }}</code>{{- end -}}
      </p>
      {{- end -}}

      {{- with $info.default -}}
      {{- $pre := ( findRE "\n" . 1 ) -}}
      <p>
        <strong>Default</strong>:
        {{- if $pre }} <pre>{{ . }}</pre>{{- else }} <code>{{ . }}</code>{{- end -}}
      </p>
      {{- end -}}

      {{- if $extras.links -}}
      <div class="tags">
        {{- range $extras.links -}}
        <a class="tag is-link is-large" href='{{ .url | relURL }}'>{{ .name }}</a>
        {{- end -}}
      </div>
      {{- end -}}
    </div>
  </div>
</div>

{{- end -}}

</div>
